node_modules/
dist/
coverage/
*.log

/*
!/.gitignore
!/prototype-wiki/
!/prototype-wiki/**
!/.github/
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/deploy-pages.yml

node_modules/
.env
.env.*